<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>
<body>

<form class="container chat-container">
    <h2>Votre ChatBot Covid</h2>
    <div class="question-block">
    <div>
        <p id="question">Avez-vous un problème respiratoire ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response" id="firstChoice" value="1">Oui</button>
    <button class="btn_response" id="secondChoice" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Avez-vous de la fièvre ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response1" id="firstChoice1" value="1">Oui</button>
    <button class="btn_response1" id="secondChoice1" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Avez-vous une toux sèche ?</p>
    </div>
    

    <p>Choisissez votre réponse :</p>
    <button class="btn_response2" id="firstChoice2" value="1">Oui</button>
    <button class="btn_response2" id="secondChoice2" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Avez vous mal à la gorge ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response3" id="firstChoice3" value="1">Oui</button>
    <button class="btn_response3" id="secondChoice3" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Avez-vous le nez qui coule ?</p>
    </div>

    <p>Choisissez votre réponse :</p>
    <button class="btn_response4" id="firstChoice4" value="1">Oui</button>
    <button class="btn_response4" id="secondChoice4" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Avez-vous de l'asthme ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response5" id="firstChoice5" value="1">Oui</button>
    <button class="btn_response5" id="secondChoice5" value="0">Non</button>
    </div>
    
    <div class="question-block">
    <div>
        <p id="question">Avez-vous une maladie pulmonaire chronique ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response6" id="firstChoice6" value="1">Oui</button>
    <button class="btn_response6" id="secondChoice6" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Avez-vous mal à la tête ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response7" id="firstChoice7" value="1">Oui</button>
    <button class="btn_response7" id="secondChoice7" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Avez-vous une maladie cardiaque ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response8" id="firstChoice8" value="1">Oui</button>
    <button class="btn_response8" id="secondChoice8" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Avez-vous du diabète ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response9" id="firstChoice9" value="1">Oui</button>
    <button class="btn_response9" id="secondChoice9" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Avez-vous de l'hypertension ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response10" id="firstChoice10" value="1">Oui</button>
    <button class="btn_response10" id="secondChoice10" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Êtes-vous fatigué ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response11" id="firstChoice11" value="1">Oui</button>
    <button class="btn_response11" id="secondChoice11" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Avez-vous des problèmes gastro-intestinaux ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response12" id="firstChoice12" value="1">Oui</button>
    <button class="btn_response12" id="secondChoice12" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Avez-vous été en contact avec un patient atteint de la COVID ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response13" id="firstChoice13" value="1">Oui</button>
    <button class="btn_response13" id="secondChoice13" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Avez-vous participé à un rassemblement public ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response14" id="firstChoice14" value="1">Oui</button>
    <button class="btn_response14" id="secondChoice14" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Avez-vous visité des lieux publics exposés (école, restaurant, ...) ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response15" id="firstChoice15" value="1">Oui</button>
    <button class="btn_response15" id="secondChoice15" value="0">Non</button>
    </div>

    <div class="question-block">
    <div>
        <p id="question">Votre famille travaille-t-elle dans des lieux publics exposés (école, restaurant, ...) ?</p>
    </div>
        
    <p>Choisissez votre réponse :</p>
    <button class="btn_response16" id="firstChoice16" value="1">Oui</button>
    <button class="btn_response16" id="secondChoice16" value="0">Non</button>
    </div>
</form>
    <div class="postal">
        <input type="text" placeholder="Enter your postal code" id="postal_code">
        <button id="postal_code_button">Valid</button>
    </div>
</body>
</html>
